.about-section {
  height: 50vh;
  font-family: var(--font-montserrat);
  position: relative;
}

.about-section img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}


.about-section-left {
  padding-top: 11rem;
}

.about-section-left h3 {
  font-size: 40px;
  font-weight: 600;
}

.our-story-section {
  padding: 5rem 0;
  font-family: var(--font-montserrat);
}

.weare-section-left h5 {
  color: var(--main-color);
}

.weare-section-left h3 {
  width: 80%;
}

.weare-section-right p {
  color: var(--ash-color);
}

.working-section {
 background: #09244B;
 padding: 2rem 0;
 font-family: var(--font-montserrat);
}

.working-items {
  display: flex;
  justify-content: space-between;
}

.icon-item {
  background: rgba(56, 72, 95, 0.5);
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  color: var(--white-color);
  border-radius: .4rem;
}

.icon-item h3 {
  padding: .5rem 0 0 0;
}

.icon-item p {
  font-size: 14px;
}

.mission-section {
  padding: 5rem 0 8rem 0;
  font-family: var(--font-montserrat);
}

.mission-about-left {
  position: relative;
}

.mission-img-top-bg {
  position: absolute;
  border: 2px solid #F2F2F2;
  width: 350px;
  height: 300px;
  top: -1.5rem;
  left: 1rem;
}

.mission-img-bottom-bg {
  position: absolute;
  border: 2px solid #F2F2F2;
  width: 350px;
  height: 300px;
  bottom: -6rem;
  right: 9rem;
}

.mission-about-left img {
  position: absolute;
  width: 350px;
  left: 3rem;
}
.mission-about-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 0 0 0;
}

.mission-about-right h5 {
  color: var(--main-color);
}

.mission-about-right h3 {
  font-size: 30px;
  width: 80%;
}

.mission-about-right p {
  color: var(--ash-color);
  font-size: 16px;
}

.vision-section {
  padding: 8rem 0 5rem 0;
  font-family: var(--font-montserrat);
}

.vision-about-left {
  padding: 3rem 0 0 0;
}

.vision-about-left h5 {
  color: var(--main-color);
}

.vision-about-left h3 {
  width: 80%;
}

.vision-about-left p {
  color: var(--ash-color);
  width: 90%;
}

.vision-about-right {
  position: relative;
  text-align: left;
}

.vision-about-img-top-bg {
  position: absolute;
  width: 350px;
  height: 300px;
  top: -2rem;
  right: 1rem;
  border: 2px solid #F2F2F2;
}

.vision-about-img-bottom-bg {
  position: absolute;
  width: 350px;
  height: 300px;
  bottom: -3rem;
  left: 9rem;
  border: 2px solid #F2F2F2;
}

.vision-about-right img {
  position: absolute;
  width: 350px;
  top: 0;
  right: 3rem;
}

.approach-section {
  padding: 7rem 0 1rem 0;
  font-family: var(--font-montserrat);
}

.approach-about-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 12rem;
}

.approach-about-header h5 {
  color: var(--main-color);
}

.approach-about-header p {
  color: var(--ash-color);
  padding: 1rem 0;
}

.approach-items {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.approach-item {
  text-align: center;
  margin: 0 3.5rem;
  position: relative;
}

.desc-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numbered-hr {
  position: absolute;
  border: 1px dotted var(--black-color);
  height: 100px;
  bottom: -5.5rem;
}

.numbered {
  position: absolute;
  background: var(--main-color);
  color: white;
  border-radius: 50%;
  bottom: -7rem;
  padding: 0.3rem 0.7rem;
}

.approach-item h5 {
  padding-top: 3rem;
}

.approach-item p {
  font-size: 15px;
  color: var(--ash-color);
}

.approach-items-bottom {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.approach-item-bottom {
  text-align: center;
  width: 25%;
  position: relative;
  padding-top: 5rem;
}

.desc-wrapper-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numbered-hr-bottom {
  position: absolute;
  border: 1px dotted var(--black-color);
  height: 100px;
  top: -2rem;
}

.approach-item-bottom h5 {
  padding-top: 3rem;
}

.approach-item-bottom p {
  font-size: 15px;
  color: var(--ash-color);
}

.numbered-bottom {
  position: absolute;
  background: var(--main-color);
  color: white;
  border-radius: 50%;
  top: -4rem;
  padding: 0.3rem 0.7rem;
}

.contact-about-section {
  padding: 5rem 0;
}

