
.prod {
  width: 350px;
  height: 320px;
  position: relative;
  overflow: hidden;
}

.prod-list-img {
    height: 100%;
    width: 100%;
}

.prod-list-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.prod-list-bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: var(--transition);
}

.prod-list-desc {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--white-color);
  transform: translateY(-100%);
  transition: var(--transition);
}

.prod-list-desc p:nth-child(1) {
  font-size: 16px;
  font-family: var(--poppins-font);
  text-align: center;
}

.prod-list-desc p:nth-child(2) {
  font-size: 10px;
  font-family: var(--source-font);
}

.prod:hover .prod-list-bg,
.prod:hover .prod-list-desc {
  transform: translateY(0);
  transition: all 200ms ease-in-out;
}