.about-section {
  background-image: url("../../public/images/hero-about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: var(--white-color);
  font-family: var(--source-font);
}

.main-header {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.about-section-left {
  width: 50%;
  padding-top: 11rem;
}

.about-section-left h3 {
  font-size: 50px;
  margin: 20px 0 10px;
}

.about-section-left p {
  font-size: 19px;
  margin: 20px 0;
}

.our-story-section {
  padding: 5rem 0;
}

.our-story {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 18rem;
}

.our-story h5 {
  color: var(--main-color);
}

.our-story h3 {
  padding: 0.5rem 0 1.5rem 0;
}

.our-story p {
  color: var(--ash-color);
  font-size: 15px;
}

.working-section {
  background-image: url("../../public/images/counter-about.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.work-bg {
  background: rgba(11, 37, 57, 0.7);
}

.working {
  display: flex;
  justify-content: space-between;
  padding: 4.5rem 0;
}

.work {
  text-align: center;
  color: var(--white-color);
}
.work h3 {
  font-size: 2.5rem;
}

.mission-section {
  padding: 5rem 0;
}

.mission-about-left {
  position: relative;
}

.mission-img-bg {
  position: absolute;
  border: 2px solid var(--main-color);
  width: 350px;
  height: 350px;
  top: 0;
  left: 0;
}

.mission-about-left img {
  position: absolute;
  width: 350px;
  top: 2.5rem;
  left: 3rem;
}

.mission-about-right h5 {
  color: var(--main-color);
}

.mission-about-right h3 {
  font-size: 30px;
  width: 80%;
  word-spacing: 0.5rem;
}

.mission-about-right p {
  color: var(--ash-color);
  font-size: 16px;
}

.vision-section {
  padding: 5rem 0;
}

.vision-about-left h5 {
  color: var(--main-color);
}

.vision-about-left h3 {
  width: 70%;
  word-spacing: 0.5rem;
}

.vision-about-left p {
  color: var(--ash-color);
  width: 90%;
}

.vision-about-right {
  position: relative;
  text-align: left;
}

.vision-about-img-bg {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0;
  right: 0;
  border: 2px solid var(--main-color);
}

.vision-about-right img {
  position: absolute;
  width: 350px;
  top: 2.5rem;
  right: 3rem;
}

.approach-section {
  padding: 5rem 0;
}

.approach-about-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 12rem;
}

.approach-about-header h5 {
  color: var(--main-color);
}

.approach-about-header p {
  color: var(--ash-color);
  padding: 1rem 0;
}

.approach-items {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.approach-item {
  text-align: center;
  margin: 0 3.5rem;
  position: relative;
}

.desc-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numbered-hr {
  position: absolute;
  border: 1px dotted var(--black-color);
  height: 100px;
  bottom: -5.5rem;
}

.numbered {
  position: absolute;
  background: var(--main-color);
  color: white;
  border-radius: 50%;
  bottom: -7rem;
  padding: 0.3rem 0.7rem;
}

.approach-item h5 {
  padding-top: 3rem;
}

.approach-item p {
  font-size: 15px;
  color: var(--ash-color);
}

.approach-items-bottom {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}

.approach-item-bottom {
  text-align: center;
  width: 25%;
  position: relative;
  padding-top: 5rem;
}

.desc-wrapper-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numbered-hr-bottom {
  position: absolute;
  border: 1px dotted var(--black-color);
  height: 100px;
  top: -2rem;
}

.approach-item-bottom h5 {
  padding-top: 3rem;
}

.approach-item-bottom p {
  font-size: 15px;
  color: var(--ash-color);
}

.numbered-bottom {
  position: absolute;
  background: var(--main-color);
  color: white;
  border-radius: 50%;
  top: -4rem;
  padding: 0.3rem 0.7rem;
}

.contact-about-section {
  padding: 5rem 0;
}

.contact-about-left h5 {
  color: var(--main-color);
}

.contact-about-left h3 {
  word-spacing: 0.7rem;
  line-height: 2.5rem;
  width: 70%;
}

.top-form-section {
  display: flex;
  justify-content: space-between;
}

input, textarea {
    width: 70%;
    border: 1px solid #747778;
    border-radius: 2px;

}

input {
    padding: .5rem;
    margin-right: .5rem;
}

textarea {
    width: 100%;
    height: 10rem;
    padding: .5rem;
}

input::placeholder,
textarea::placeholder {
  color: #BBBBBB;
}

.bottom-form-section {
    margin: 2rem 0 0 0;
}

form button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 2rem;
  margin: 1rem 0 0 0;
}
