.career-header {
  background-image: url("../../public/images/career-bg.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: var(--white-color);
  font-family: var(--poppins-font);
  object-fit: cover;
}

.career-bg {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: relative;
}

.career-header-content {
  position: absolute;
  top: -30vh;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.career-header-content h1 {
  font-size: 44px;
  font-weight: 800;
}


.career-section {
    padding: 5rem 0 0 0;
    background-color: #eeeeee;
}

.career-section h2 {
    font-weight: 600;
    color: var(--secondary-color);
}

.career-section p {
    text-align: center;
    color: #616161;
    font-size: 24px;
    padding: 2px 0;
}


.jobs-section {
    display: flex;
    padding: 5rem 0 0 0;
}

.jobs-left {
  width: 100%;
  padding: 3rem;
}

.jobs-left h2 {
  font-family: var(--source-font);
  font-size: 27px;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: left;
}

.jobs-left h5 {
  font-size: 14px;
  font-family: var(--poppins-font);
  color: var(--blue-color);
}

.job {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 5rem 0;
}

.job a {
    text-decoration: none;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 14px 22px;
    transition: var(--transition);
}

.job a:hover {
    color: var(--white-color);
    background-color: aqua;
    border: none;
    transition: var(--transition);

}

.jobs-right {
  width: 100%;
}

.jobs-right img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}