.home-section {
  background-image: url("../../public/images/hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: var(--white-color);
  font-family: var(--font-montserrat);

}

.main-header {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.home-section-left {
  width: 50%;
  padding-top: 12rem;
}

.home-section-left h3 {
  font-size: 50px;
  margin: 20px 0 10px;
}

.home-section-left p {
  font-size: 19px;
  margin: 20px 0;
}

.hero-btn {
  display: flex;
}

.hero-btn button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 3rem;
}

.partner-home-section {
  padding: 2rem 0;
  background-color: #f2f2f2;
  font-family: var(--font-montserrat);
}

.services-home-section {
  padding: 5rem 0;
}

.service-home-header,
.portfolio-home-header,
.collaborate-home-header  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 18rem;
  font-family: var(--font-montserrat);
}

.collaborate-section {
  padding: 4rem 0;
}

.collaborate-home-button {
  text-align: center;
  padding: 3rem 0 0 0;
}

.collaborate-home-button button {
  border: none;
  outline: none;
  background: var(--main-color);
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 2rem;
  margin-left: 2rem;
}

.testimonial-home-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 12rem;
}

.testimonial-home-header {
  color: var(--white-color);
}

.service-home-header h5,
.portfolio-home-header h5,
.testimonial-home-header h5,
.collaborate-home-header h5 {
  color: var(--main-color);
}

.service-home-header h3,
.portfolio-home-header h3 {
  padding: 0.5rem 0;
}

.service-scrolls-section {
  position: relative;
  height: 100vh;
  font-family: var(--font-montserrat);
}

.items-wrapper {
  height: 80vh;
  width: 80%;
  overflow-y: scroll !important;
  position: absolute;
  scroll-behavior: smooth;
}

.items-wrapper::-webkit-scrollbar {
  height: 4px;
}

.items-wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.items-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.service-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.service-card {
  display: flex;
  position: relative;
  align-items: center;
  background: var(--card-bg);
  color: white;
  width: 385px;
  padding: 2rem 2rem;
  border-radius: 4px;
  margin: 1rem 0;
  transition: var(--transition);
  cursor: pointer;
}

.service-card.act {
  background: var(--main-color);
}

.service-card p {
  width: 80%;
  font-size: 21px;
  padding: 0 0 0 2rem;
}

.icon-direction {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 30px;
}

.service-card:hover .icon-direction {
  transform: rotate(-90deg);
  transition: var(--transition);
}

.service-card:hover {
  transition: var(--transition);
  background: var(--main-color);
}

.service-cd-desc {
  padding: 2rem;
}

.service-cd-desc p {
  padding: 1rem 0;
}

.service-cd-desc button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--main-color);
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 1rem 0 0 0;
}

.service-ls {
  display: flex;
  justify-content: flex-start;
}

.service-cd {
  width: 160px;
}

.service-cd p {
  color: var(--black-color);
  font-size: 15px;
  font-weight: 400;
  width: 85%;
}

.about-home-section {
  padding: 1rem 0 12rem 0;
  font-family: var(--font-montserrat);
}

.about-home-left {
  position: relative;
}

.about-img-top-bg {
  position: absolute;
  border: 2px solid #D9D9D9;
  width: 350px;
  height: 300px;
  top: 0;
  left: 1rem;
  border-radius: .2rem;

}

.about-img-bottom-bg {
  position: absolute;
  border: 2px solid #D9D9D9;
  width: 350px;
  height: 300px;
  bottom: -4rem;
  right: 9rem;
  border-radius: .2rem;
}

.about-home-left img {
  position: absolute;
  width: 350px;
  top: 2rem;
  left: 3rem;
}

.about-home-right h5 {
  color: var(--main-color);
}

.about-home-right h3 {
  font-size: 30px;
  width: 80%;
  word-spacing: 0.5rem;
}

.about-home-right p {
  color: var(--black-color);
  font-size: 16px;
}

.about-home-right button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 2rem;
  margin: 1.5rem 0 0 0;
}

.choose-section {
  padding: 5rem 0;
  font-family: var(--font-montserrat);
}

.choose-left h5 {
  color: var(--main-color);
}

.choose-left h3 {
  width: 70%;
  word-spacing: 0.2rem;
}

.choose-left img {
  width: 72%;
}

.apeture-wrapper {
  padding: 4rem 0 0 0;
}

.apeture p {
  font-size: 10px;
}

.choose-item {
  display: flex;
  width: 90%;
  margin: 0 0 1rem 0;
}

.choose-item img {
  margin-right: 1.5rem;
}

.choose-item h6 {
  font-weight: 600;
}

.choose-item p {
  font-size: 16px;
  line-height: 2rem;
}

.portfolio-section {
  padding: 5rem 0;
  font-family: var(--font-montserrat);
}

.testimonial-section {
  padding: 8rem 0 5rem 0;
  margin: 5rem 0 0 0;
  background-color: #212121;
  font-family: var(--font-montserrat);
}

.partners-section {
  padding: 5rem 0;
  font-family: var(--font-montserrat);
}

.partner-home-left h5 {
  color: var(--main-color);
}

.partner-home-left h3 {
  width: 80%;
}

.partner-home-left p {
  width: 90%;
}

.partner-home-left button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 2rem;
  margin: 1.5rem 0 0 0;
}

.partner-home-right {
  position: relative;
  text-align: center;
}

.partner-home-img-top-bg {
  position: absolute;
  width: 350px;
  height: 300px;
  top: -2rem;
  right: 4rem;
  border: 2px solid #D9D9D9;
  border-radius: 4px;
}

.partner-home-img-bottom-bg {
  position: absolute;
  width: 350px;
  height: 300px;
  bottom: -4.2rem;
  left: 5.7rem;
  border: 2px solid #D9D9D9;
  border-radius: 4px;
}

.partner-home-right img {
  position: absolute;
  width: 350px;
  left: 8rem;
}

.blogs-home-section {
  padding: 5rem 0;
  font-family: var(--font-montserrat);
}

.blogs {
  display: flex;
  justify-content: space-around;
  padding: 4rem 0 1rem 0;
  flex-wrap: wrap;
}

.partnerSection {
  padding: 4rem 8rem;
  font-family: var(--font-montserrat);
}

.testimony-section {
  color: #212121;
  font-family: var(--font-montserrat);
}


@media screen and (max-width: 1024px) {
  .products {
    margin: 4rem 2rem;
  }

  .product-card {
    width: 300px;
    margin: 0 0.5rem;
  }

  .service-items {
    flex-wrap: wrap;
  }

  .choose-left h3 {
    width: 100%;
  }

  .choose-right {
    padding: 4rem 0 0 0;
  }

  .testimonial-home-header {
    margin: 0 7rem;
  }
  .partner-home-img-bg {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .products {
    margin: 4rem 2rem;
  }

  .product-card {
    width: 90%;
    height: 450px;
    margin: 0.5rem 0.5rem;
  }

  .about-img-bg {
    left: 2rem;
  }

  .about-home-left img {
    position: relative;
    left: 3rem;
  }

  .about-home-right {
    padding: 8rem 0 0 0;
  }

  .partnerSection {
    padding: 4rem 2rem;
  }

  .home-section-left {
    width: 100%;
  }

  .home-section-left p {
    margin: 2rem 0;
  }

  .hero-btn {
    padding: 2rem 0 0 0;
  }

  .service-home-header,
  .portfolio-home-header,
  .testimonial-home-header {
    margin: 0 5rem;
  }

  .product-home-header {
    display: none;
  }

  .partner-home-right img {
    display: none;
  }

  .choose-left img {
    width: 70%;
  }
}

.active {
  color: var(--main-color);
}

@media screen and (max-width: 600px) {
  .home-section-left h3 {
    font-size: 40px;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .home-section-left p {
    width: 90%;
    text-align: center;
  }

  .about-home-left img {
    left: 3rem;
    width: 70%;
  }

  .about-img-bg {
    width: 60%;
  }

  .about-home-right {
    padding: 8rem 0 0 0;
  }

  .about-home-right h3 {
    width: 100%;
  }

  .hero-btn {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .choose-left h3 {
    width: 100%;
  }

  .blogs {
    margin: 4rem 2rem;
  }
}

@media screen and (max-width: 450px) {
  .home-section-left h3 {
    font-size: 35px;
    width: 100%;
    font-weight: bold;
    padding: 0;
    text-align: center;
  }

  .service-home-header,
  .portfolio-home-header,
  .testimonial-home-header {
    margin: 0 3rem;
  }

  .service-items {
    margin: 5rem 2rem 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .hero-btn {
    flex-direction: column;
  }

  .about-img-bg {
    display: none;
  }
}
