.home-section {
  background-image: url("../../public/images/hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: var(--white-color);
  font-family: var(--source-font);
}

.main-header {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
}

.home-section-left {
  width: 50%;
  padding-top: 12rem;
}

.home-section-left h3 {
  font-size: 50px;
  margin: 20px 0 10px;
}

.home-section-left p {
  font-size: 19px;
  margin: 20px 0;
}

.hero-btn {
  display: flex;
}

.hero-btn button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 3rem;
}

.partner-home-section {
  padding: 2rem 0;
  background-color: #f2f2f2;
}

.services-home-section {
  padding: 5rem 0;
}

.service-home-header,
.portfolio-home-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 18rem;
}

.testimonial-home-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 12rem;
}

.testimonial-home-header {
  color: var(--white-color);
}

.service-home-header h5,
.portfolio-home-header h5 {
  color: var(--main-color);
}

.service-home-header h3,
.portfolio-home-header h3 {
  padding: 0.5rem 0;
}

.service-home-header p,
.portfolio-home-header p {
  color: var(--ash-color);
}

.service-items {
  display: flex;
  justify-content: space-around;
  margin: 4rem 0 0 0;
}

.service-item {
  text-align: center;
  margin: 0 1.7rem;
}

.service-item h5 {
  padding-top: 3rem;
}

.service-item p {
  font-size: 16px;
  color: var(--ash-color);
}

.about-home-section {
  padding: 5rem 0;
}

.about-home-left {
  position: relative;
}

.about-img-bg {
  position: absolute;
  background: var(--main-color);
  width: 350px;
  height: 350px;
  top: 0;
  left: 0;
}

.about-home-left img {
  position: absolute;
  width: 350px;
  top: 2.5rem;
  left: 3rem;
}

.about-home-right h5 {
  color: var(--main-color);
}

.about-home-right h3 {
  font-size: 30px;
  width: 70%;
  word-spacing: 0.5rem;
}

.about-home-right p {
  color: var(--ash-color);
  font-size: 16px;
}

.about-home-right button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 2rem;
  margin: 1.5rem 0 0 0;
}

.choose-section {
  padding: 5rem 0;
  background-color: #f2f2f2;
}

.choose-left h5 {
  color: var(--main-color);
}

.choose-left h3 {
  width: 70%;
  word-spacing: 0.2rem;
}

.apeture-wrapper {
  text-align: center;
  padding: 4rem 0 0 0;
}

.apeture p {
  font-size: 10px;
  color: var(--ash-color);
}

.choose-item {
  display: flex;
  width: 90%;
  margin: 0 0 1rem 0;
}

.choose-item img {
  margin-right: 1.5rem;
}

.choose-item p {
  font-size: 16px;
  color: var(--ash-color);
  line-height: 2rem;
}

.portfolio-section {
  padding: 5rem 0;
}

.product-home-header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0 2rem 0;
}

.product-home-header p {
  cursor: pointer;
}

.product-home-header p:active,
.product-home-header p:visited {
  color: var(--main-color);
}

.product-home-list {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}

.product-home-list::-webkit-scrollbar {
  height: 4px;
}

.product-home-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.product-home-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.product-home-button {
  text-align: center;
  padding: 4rem 0 0 0;
}

.product-home-button button {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 0.2rem;
  color: var(--main-color);
  padding: 0.5rem 3rem;
  margin-left: 2rem;
}

.testimonial-section {
  padding: 5rem 0;
  background-color: #071529;
}

.partners-section {
  padding: 5rem 0;
}

.partner-home-left h5 {
  color: var(--main-color);
}

.partner-home-left p {
  color: var(--ash-color);
  width: 90%;
}

.partner-home-left button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 2rem;
  margin: 1.5rem 0 0 0;
}

.partner-home-right {
  position: relative;
  text-align: center;
}

.partner-home-img-bg {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 0;
  right: 0;
  background: var(--main-color);
}

.partner-home-right img {
  position: absolute;
  width: 350px;
  top: 2.5rem;
  right: 3rem;
}

.blogs {
  display: flex;
  justify-content: space-around;
  margin: 4rem 2rem;
  flex-wrap: wrap;
}

.partnerSection {
  padding: 4rem 8rem;
}

@media screen and (max-width: 1024px) {
  .products {
    margin: 4rem 2rem;
  }

  .product-card {
    width: 300px;
    margin: 0 0.5rem;
  }

  .service-items {
    flex-wrap: wrap;
  }

  .choose-left h3 {
    width: 100%;
  }

  .choose-right {
    padding: 4rem 0 0 0;
  }

  .testimonial-home-header {
   margin: 0 7rem;
  }
  .partner-home-img-bg {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .products {
    margin: 4rem 2rem;
  }

  .product-card {
    width: 90%;
    height: 450px;
    margin: 0.5rem 0.5rem;
  }

  .about-img-bg {
    left: 2rem;
  }

  .about-home-left img {
    position: relative;
    left: 3rem;
  }

  .about-home-right {
    padding: 8rem 0 0 0;
  }

  .partnerSection {
    padding: 4rem 2rem;
  }

  .home-section-left {
    width: 100%;
  }

  .home-section-left p {
    margin: 2rem 0;
  }

  .hero-btn {
    padding: 2rem 0 0 0;
  }

  .service-home-header,
  .portfolio-home-header,
  .testimonial-home-header {
    margin: 0 5rem;
  }

  .product-home-header {
    display: none;
  }

  .partner-home-right img {
    display: none;
  }

  .choose-left img {
    width: 70%;
  }
}

.active {
  color: var(--main-color);
}

@media screen and (max-width: 600px) {
  .home-section-left h3 {
    font-size: 40px;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .home-section-left p {
    width: 90%;
    text-align: center;
  }

  .about-home-left img {
    left: 3rem;
    width: 70%;
  }

  .about-img-bg {
    width: 60%;
  }

  .about-home-right {
    padding: 8rem 0 0 0;
  }

  .about-home-right h3 {
    width: 100%;
  }

  .hero-btn {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .choose-left h3 {
    width: 100%;
  }

  .blogs {
    margin: 4rem 2rem;
  }
}

@media screen and (max-width: 450px) {
  .home-section-left h3 {
    font-size: 35px;
    width: 100%;
    font-weight: bold;
    padding: 0;
    text-align: center;
  }

  .service-home-header,
  .portfolio-home-header,
  .testimonial-home-header {
    margin: 0 3rem;
  }

  .service-items {
    margin: 5rem 2rem 0;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  .hero-btn {
    flex-direction: column;
  }

  .about-img-bg {
    display: none;
  }
}
