.product-home-card {
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 0;
}

.product-home-img {
  height: 200px;

}

.product-home-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-home-desc {
  padding: 1rem;
}

.product-home-desc h5 {
  font-size: 15px;
  white-space: pre-wrap;
}

.product-home-desc p {
  font-size: 14px;
  width: max-content;
  color: var(--ash-color);
  padding: 1rem 0 0 0;
}

.product-home-desc button {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--main-color);
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 1rem 0 0 0;
}
