
.product-home-header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0 2rem 0;
}

.product-home-header p {
  cursor: pointer;
}

.product-home-header p:active,
.product-home-header p:visited {
  color: var(--main-color);
}

.product-home-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.product-home-list a{
  text-decoration: none;
}

.prod-home-card {
  background: var(--card-bg);
  color: var(--white-color);
  position: relative;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2.5rem 2rem;
  cursor: pointer;
  transition: var(--transition);
}

.prod-home-card:hover {
  background: var(--main-color);
  transition: var(--transition);
}

.prod-home-card:hover .icon-direction {
  transform: rotate(-90deg);
  transition: var(--transition);
}

.product-home-button {
  text-align: center;
  padding: 4rem 0 0 0;
}

.product-home-button button {
  background-color: transparent;
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 0.2rem;
  color: var(--main-color);
  padding: 0.5rem 3rem;
  margin-left: 2rem;
}