.card-do-item {
  width: 250px;
  background-color: var(--white-color);
  margin-top: 1rem;
}

.card-img {
  overflow: hidden;
}

.card-do-item img {
  width: 100%;
  transition: var(--transition);
}

.card-do-item:hover img{
  transform: scale(1.1);
  transition: var(--transition);
}

.card-do-item-desc {
    padding: 40px;
}

.card-do-item-desc h3 {
  font-size: 18px;
  font-family: var(--poppins-font);
  color: var(--secondary-color);
}

.card-do-item-desc p {
    font-size: 14px;
    font-family: var(--source-font);
}