.testimony-card {
  text-align: center;
  padding: 2rem 0;
  margin: 3rem 8rem;
  background-color: var(--white-color);
  border-radius: 0.6rem;
}

.testimony-desc {
  padding: 2rem 4rem;
}

.testimony-desc p {
  color: var(--ash-color);
  font-size: 15px;
}

.testimony-desc h6 {
  color: var(--main-color);
}

.testimony-img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimony-img img {
  border: 3px solid var(--main-color);
  border-radius: 50%;
  padding: 0.3rem;
}

@media screen and (max-width: 800px) {
  .testimony-card {
    padding: 2rem 0;
    margin: 3rem 2rem;
  }

  .testimony-desc {
    padding: 2rem 2rem;
  }
}
