nav {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100vw;
  z-index: 1;
  background: transparent;
  transition: var(--transition);
  display: flex;
  justify-content: space-between;
  font-family: var(--font-montserrat);
}



.nav-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 0.8rem 0 2rem 0;
}

.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  transition: var(--transition);
  padding: 0 1rem 0 10rem;
}

.links.scroll a {
  color: var(--black-color);
}

.links a {
  font-size: 14px;
  padding: 5px .8rem;
  color: var(--white-color);
  text-decoration: none;
  transition: var(--transition);
}

.links a:hover,
.links img:hover {
  color: var(--main-color);
  transition: var(--transition);
}

.links img {
  padding: 0 0 0 0.2rem;
}

.contact-btn button {
  background-color: #ab0e12;
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 1rem;
}

.nav-bars {
  display: none;
}

.nav-bars button {
  background-color: transparent;
  outline: none;
  border: none;
}

.service-nav-section {
  position: absolute;
  background: var(--white-color);
  display: flex;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  top: 5rem;
}

.service-nav-section.company-s {
  display: block;
  right: 35%;
}

.service-nav-section.partner-s {
  display: block;
  right: 18%;
}

.service-nav-section a,
.service-nav-section.scroll a {
  padding: 3px 1rem;
  color: var(--black-color);
}

.service-a {
  position: relative;
}

.sv-nav-item {
  display: flex;
  align-items: center;
}

.sv-nav-item img {
  margin: -0.8rem 0.5rem 0 0;
}

@media screen and (max-width: 1024px) {
  .nav-bars {
    display: block;
  }

  nav {
    background-color: var(--white-color);
    position: fixed !important;
    top: 0;
    height: 5rem;
    width: 100%;
    transition: var(--transition);
  }

  .links {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 2rem;
    background-color: var(--main-color);
    transition: var(--transition);
    width: 100%;
    display: none;
  }

  .links.active {
    display: flex;
  }

  .links a {
    color: var(--white-color);
    font-size: 12px;
    padding: 2rem 1;
  }

  @keyframes animateLinks {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 0.7;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
