.contact-section {
  padding: 1rem 0 4rem 0;
  font-family: var(--font-montserrat);

}

.contact-about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-about-left h5 {
  color: var(--main-color);
}

.contact-about-left h3 {
  word-spacing: 0.2rem;
  line-height: 2.5rem;
  width: 70%;
}

.contact-about-left p {
  width: 90%;
  font-size: 15px;
  color: var(--ash-color);
}

form {
  background: var(--white-color);
  padding: 2rem;
  border-radius: 0.3rem;
}

input,
textarea {
  width: 100%;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  margin: 0.8rem 0;
  outline: none;
  color: #5f5d5d;
}

input {
  padding: 0.5rem;
}

textarea {
  width: 100%;
  height: 10rem;
  padding: 0.5rem;
}

input::placeholder,
textarea::placeholder {
  color: #bbbbbb;
  font-size: 14px;
}

form button {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 0.2rem;
  color: var(--white-color);
  padding: 0.5rem 2rem;
  margin: 1rem 0 0 0;
}
