nav {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100vw;
  z-index: 11;
  background: transparent;
  transition: var(--transition);
  display: flex;
  justify-content: space-around;
}

.nav-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 1.5rem 0 2rem 0;
}

.links,
.scroll-nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  transition: var(--transition);
  padding: 0 8rem;
}

.scroll-nav-links a {
  font-size: 12px;
  padding: 3px 15px;
  color: var(--black-color);
  text-decoration: none;
}

.scroll-nav-links a:hover {
  color: var(--black-color);
}

.links a {
  font-size: 14px;
  padding: 30px 15px;
  color: var(--white-color);
  text-decoration: none;
}

.links a:hover {
  color: var(--white-color);
}

.contact-btn button {
  background-color: #AB0E12;
  outline: none;
  border: 1px solid black;
  border-radius: .2rem;
  color: var(--white-color);
  padding: .5rem 2rem;
}

.nav-bars {
  display: none;
}

.nav-bars button {
  background-color: transparent;
  outline: none;
  border: none;
}

@media screen and (max-width: 1024px) {
  .nav-bars {
    display: block;
  }


  nav {
    background-color: var(--white-color);
    position: fixed !important;
    top: 0;
    height: 5rem;
    width: 100vw;
    transition: var(--transition);
  }

  .links,
  .scroll-nav-links {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 3rem;
    background-color: var(--white-color);
    transition: var(--transition);
    width: 100%;
    display: none;
  }

  .links.active {
    display: flex;
  }

  .links a, .scroll-nav-links a {
    color: var(--black-color);
    font-size: 12px;
    padding: 2rem 1;
  }

  .links a:active, .scroll-nav-links a:active {
      color: var(--main-color);
  }

  .links a:hover, .scroll-nav-links a:hover {
      color: var(--main-color);
  }

  @keyframes animateLinks {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0);
      opacity: 0.7;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
