*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #AB0E12;
  --ash-color: #7D7C7C;
  --light-color: #FCFCFC;
  --dark-blue: #071529;
  --card-bg: #09244B;
  --white-color: #ffffff;
  --black-color: #222222;

  /* courierx colors */
  --cx-main-color: #54BD95;
  --cx-black-color: #222222;
  --cx-light-color: rgba(45, 88, 72, 0.5);
  --cx-on-black-color: rgba(0, 0, 0, .5);

  /* foodx colors */
  --fx-main-color: #F6613F;
  --fx-light-color: #f6613f33;

  /* medx colors */
  --mx-main-color: #3E83EA;
  --mx-light-color: #3e83ea2d;

  --transition: all 400ms ease-in-out;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: var(--black-color);
}

a {
  text-decoration: none;
  color: var(--black-color);
  outline: none;
}
a:hover {
  color: var(--main-color);
}

li {
  list-style: none;
}

p {
  line-height: 1.4rem;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}