*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #AB0E12;
  --ash-color: #7D7C7C;
  --light-color: #FCFCFC;
  --dark-blue: #071529;
  --card-bg: #09244B;
  --white-color: #ffffff;
  --black-color: #222222;
  --transition: all 400ms ease-in-out;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: var(--black-color);
}

a {
  text-decoration: none;
  color: var(--black-color);
  outline: none;
}
a:hover {
  color: var(--main-color);
}
li {
  list-style: none;
}

h3 {
  font-weight: 600;
}
